@import "~carbon-components/scss/globals/scss/spacing";
@import "~carbon-components/scss/globals/scss/layout";
@import "~carbon-components/scss/globals/scss/typography";


.layout-04-top {
  margin-top: $layout-04;
}

.spacing-03-bottom {
  margin-bottom: $spacing-03;
}

.layout-03-bottom {
  margin-bottom: $layout-03;
}

.expressive-heading-05{
  @include carbon--type-style("expressive-heading-05");
}

.list {
  list-style: disc;
  line-height: 1.5;
  padding: $spacing-md 0;
  li {
    margin-left: $spacing-xl;
  }
}

code {
  background-color: $ui-01;
}

