// To change the default theme uncomment the below import and which ever carbon theme you want to
// use. When framed, the below map of CSS Custom Properties will be used to match the theme
// of the outer frame.
@import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';

// $default--theme: $carbon--theme--g100;
// $default--theme: $carbon--theme--g90;
// $default--theme: $carbon--theme--g10;
$default--theme: $carbon--theme--white;
:root {
  --cds-interactive-01: #{map-get($default--theme, 'interactive-01')};
  --cds-interactive-02: #{map-get($default--theme, 'interactive-02')};
  --cds-interactive-03: #{map-get($default--theme, 'interactive-03')};
  --cds-interactive-04: #{map-get($default--theme, 'interactive-04')};
  --cds-ui-background: #{map-get($default--theme, 'ui-background')};
  --cds-ui-01: #{map-get($default--theme, 'ui-01')};
  --cds-ui-02: #{map-get($default--theme, 'ui-02')};
  --cds-ui-03: #{map-get($default--theme, 'ui-03')};
  --cds-ui-04: #{map-get($default--theme, 'ui-04')};
  --cds-ui-05: #{map-get($default--theme, 'ui-05')};
  --cds-text-01: #{map-get($default--theme, 'text-01')};
  --cds-text-02: #{map-get($default--theme, 'text-02')};
  --cds-text-03: #{map-get($default--theme, 'text-03')};
  --cds-text-04: #{map-get($default--theme, 'text-04')};
  --cds-text-05: #{map-get($default--theme, 'text-05')};
  --cds-icon-01: #{map-get($default--theme, 'icon-01')};
  --cds-icon-02: #{map-get($default--theme, 'icon-02')};
  --cds-icon-03: #{map-get($default--theme, 'icon-03')};
  --cds-link-01: #{map-get($default--theme, 'link-01')};
  --cds-inverse-link: #{map-get($default--theme, 'inverse-link')};
  --cds-field-01: #{map-get($default--theme, 'field-01')};
  --cds-field-02: #{map-get($default--theme, 'field-02')};
  --cds-inverse-01: #{map-get($default--theme, 'inverse-01')};
  --cds-inverse-02: #{map-get($default--theme, 'inverse-02')};
  --cds-support-01: #{map-get($default--theme, 'support-01')};
  --cds-support-02: #{map-get($default--theme, 'support-02')};
  --cds-support-03: #{map-get($default--theme, 'support-03')};
  --cds-support-04: #{map-get($default--theme, 'support-04')};
  --cds-inverse-support-01: #{map-get($default--theme, 'inverse-support-01')};
  --cds-inverse-support-02: #{map-get($default--theme, 'inverse-support-02')};
  --cds-inverse-support-03: #{map-get($default--theme, 'inverse-support-03')};
  --cds-inverse-support-04: #{map-get($default--theme, 'inverse-support-04')};
  --cds-overlay-01: #{map-get($default--theme, 'overlay-01')};
  --cds-danger: #{map-get($default--theme, 'danger')};
  --cds-focus: #{map-get($default--theme, 'focus')};
  --cds-inverse-focus-ui: #{map-get($default--theme, 'inverse-focus-ui')};
  --cds-hover-primary: #{map-get($default--theme, 'hover-primary')};
  --cds-active-primary: #{map-get($default--theme, 'active-primary')};
  --cds-hover-primary-text: #{map-get($default--theme, 'hover-primary-text')};
  --cds-hover-secondary: #{map-get($default--theme, 'hover-secondary')};
  --cds-active-secondary: #{map-get($default--theme, 'active-secondary')};
  --cds-hover-tertiary: #{map-get($default--theme, 'hover-tertiary')};
  --cds-active-tertiary: #{map-get($default--theme, 'active-tertiary')};
  --cds-hover-ui: #{map-get($default--theme, 'hover-ui')};
  --cds-active-ui: #{map-get($default--theme, 'active-ui')};
  --cds-selected-ui: #{map-get($default--theme, 'selected-ui')};
  --cds-hover-selected-ui: #{map-get($default--theme, 'hover-selected-ui')};
  --cds-inverse-hover-ui: #{map-get($default--theme, 'inverse-hover-ui')};
  --cds-hover-danger: #{map-get($default--theme, 'hover-danger')};
  --cds-active-danger: #{map-get($default--theme, 'active-danger')};
  --cds-hover-row: #{map-get($default--theme, 'hover-row')};
  --cds-visited-link: #{map-get($default--theme, 'link-01')};
  --cds-disabled-01: #{map-get($default--theme, 'disabled-01')};
  --cds-disabled-02: #{map-get($default--theme, 'disabled-02')};
  --cds-disabled-03: #{map-get($default--theme, 'disabled-03')};
  --cds-highlight: #{map-get($default--theme, 'highlight')};
  --cds-skeleton-01: #{map-get($default--theme, 'skeleton-01')};
  --cds-skeleton-02: #{map-get($default--theme, 'skeleton-02')};
  --cds-brand-01: #{map-get($default--theme, 'brand-01')};
  --cds-brand-02: #{map-get($default--theme, 'brand-02')};
  --cds-brand-03: #{map-get($default--theme, 'brand-03')};
  --cds-active-01: #{map-get($default--theme, 'active-01')};
  --cds-hover-field: #{map-get($default--theme, 'hover-field')};
}

// changing scss theme variables to use css custom property.
$css-custom-properties: (
  interactive-01: var(--cds-interactive-01),
  interactive-02: var(--cds-interactive-02),
  interactive-03: var(--cds-interactive-03),
  interactive-04: var(--cds-interactive-04),
  ui-background: var(--cds-ui-background),
  ui-01: var(--cds-ui-01),
  ui-02: var(--cds-ui-02),
  ui-03: var(--cds-ui-03),
  ui-04: var(--cds-ui-04),
  ui-05: var(--cds-ui-05),
  text-01: var(--cds-text-01),
  text-02: var(--cds-text-02),
  text-03: var(--cds-text-03),
  text-04: var(--cds-text-04),
  text-05: var(--cds-text-05),
  icon-01: var(--cds-icon-01),
  icon-02: var(--cds-icon-02),
  icon-03: var(--cds-icon-03),
  link-01: var(--cds-link-01),
  inverse-link: var(--cds-inverse-link),
  field-01: var(--cds-field-01),
  field-02: var(--cds-field-02),
  inverse-01: var(--cds-inverse-01),
  inverse-02: var(--cds-inverse-02),
  support-01: var(--cds-support-01),
  support-02: var(--cds-support-02),
  support-03: var(--cds-support-03),
  support-04: var(--cds-support-04),
  inverse-support-01: var(--cds-inverse-support-01),
  inverse-support-02: var(--cds-inverse-support-02),
  inverse-support-03: var(--cds-inverse-support-03),
  inverse-support-04: var(--cds-inverse-support-04),
  overlay-01: var(--cds-overlay-01),
  danger: var(--cds-danger),
  focus: var(--cds-focus),
  inverse-focus-ui: var(--cds-inverse-focus-ui),
  hover-primary: var(--cds-hover-primary),
  active-primary: var(--cds-active-primary),
  hover-primary-text: var(--cds-hover-primary-text),
  hover-secondary: var(--cds-hover-secondary),
  active-secondary: var(--cds-active-secondary),
  hover-tertiary: var(--cds-hover-tertiary),
  active-tertiary: var(--cds-active-tertiary),
  hover-ui: var(--cds-hover-ui),
  active-ui: var(--cds-active-ui),
  selected-ui: var(--cds-selected-ui),
  hover-selected-ui: var(--cds-hover-selected-ui),
  inverse-hover-ui: var(--cds-inverse-hover-ui),
  hover-danger: var(--cds-hover-danger),
  active-danger: var(--cds-active-danger),
  hover-row: var(--cds-hover-row),
  visited-link: var(--cds-visited-link),
  disabled-01: var(--cds-disabled-01),
  disabled-02: var(--cds-disabled-02),
  disabled-03: var(--cds-disabled-03),
  highlight: var(--cds-highlight),
  skeleton-01: var(--cds-skeleton-01),
  skeleton-02: var(--cds-skeleton-02),
  brand-01: var(--cds-brand-01),
  brand-02: var(--cds-brand-02),
  brand-03: var(--cds-brand-03),
  active-01: var(--cds-active-01),
  hover-field: var(--cds-hover-field),
);

$carbon--theme: map-merge($carbon--theme--white, $css-custom-properties);
